@font-face {
	font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*header*/
.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
  position: relative;
}
.header:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container_header {
  max-width: 1200px;
  margin: 0 auto;
 	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px 0px 35px;
}
.welcom_title {
	padding: 126px 0px 147px 0px;
	width: 687px;
	margin: 0 auto;
}
.logo_header {
  width: 181px;
}
.burger_menu {
	display: none;
}
.menu_header_items {
  display: inline-block;
}
.menu_header_items:nth-child(n + 2) {
  padding-left: 32px;
}
.menu-link {
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px; 
  text-transform: uppercase;
  color: #ffffff;
}
.menu-link:hover {
  content: "";
  text-decoration: underline;
}
.title_header {
  font-size: 45px; 
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
 	font-style: normal;
  text-transform: uppercase;
 	color: #ffffff;
 	line-height: 1.6;
 	text-align: center;
}

/*trend aside*/
.trends {
	margin-top: 56px;
}
.title_trends {
  font-size: 20px;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1.2;
  text-align: center;
}
.title_trends:after {
	content: "";
  border: 2px solid #b59f5b;
  width: 67px;
  display: block;
  margin: 14px auto 29px;
  opacity: 0.4;
}
.container_trends {
	display: flex;
	justify-content: space-between;
}
.post_trend {
	width: 25%;
	min-height: 319px;
	display: flex;
	align-items: flex-end;
	padding: 15px 17px;
}
.post_trend:nth-child(n+2) {
  margin-left: 2px;
}
.img_trend_first {
	background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #606260;
  z-index: 0;
  position: relative;
  background-size: cover;
}
.img_trend_first:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.img_trend_second {
	background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #606260;
  z-index: 0;
  position: relative;
  background-size: cover;
}
.img_trend_second:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.img_trend_third {
	background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #606260;
  z-index: 0;
  position: relative;
  background-size: cover;
}
.img_trend_third:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.img_trend_fourth {
	background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #606260;
  z-index: 0;
  position: relative;
  background-size: cover;
}
.img_trend_fourth:after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.trend_header {
	border: 3px solid #b59f5b;
  margin: 5%;
  padding: 5%;
}
.trend_menu {
	padding-left: 0;
}
.trend_menu_items {
  display: inline-block;
}
.trend_menu_link {
	font-size: 14px;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #b59f5b;
}
.trend_menu_link:hover {
	text-decoration: underline;
}
.title_trend {
	font-size: 20px;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.6;
}
.title_trend:hover {
	color: #b59f5b;
}
/*content*/
.conteiner_content {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1200px;
}
.page {
	margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main {
  max-width: 776px;
}
.sidebar {
  width: 272px;
}
.main_article {
  display: flex;
  flex-wrap: wrap;
}
.main_article:nth-child(n + 2) {
  margin-top: 61px;
}
.post_img {
  display: block;
  background-color: #818181;
}
.post_content {
  width: 47%;
  margin-left: 28px;
}
.main_menu {
  padding: 0;
  margin-bottom: 9px;
}
.main_menu_items {
  display: inline-block;
  padding-right: 17px;
}
.main_menu_link {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
}
.main_menu_link:hover {
  text-decoration: underline;
}
.title_article {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 27px;
}
.title_article:hover {
  color: #b59f5b;
}
.date {
  padding-right: 9px;
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #888888;
}
.autor {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #000000;
}
.post_text {
  margin-top: 47px;
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
}
.post_text_paragraph {
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.4;
  margin-top: 12px;
}
/*aside*/
/*news post*/
.title_aside {
  text-align: center;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.title_aside:after {
  content: "";
  border: 2px solid #b59f5b;
  width: 63px;
  display: block;
  margin: 14px auto 29px;
  opacity: 0.4;
}
.aside_section {
  display: flex;
  flex-wrap: wrap;
}
.section_img {
  display: block;
  background-color: #818181;
}
.post_news {
  width: 73.5%;
  padding-left: 21px;
}
.aside_section:nth-child(n + 2) {
  margin-top: 22px;
}
.date_aside {
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #888888;
}
.title_section {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.title_section:hover {
  color: #b59f5b;
}

/*search*/
.form_search {
  margin: 62px 0px 57px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between
}
.label_search {
	width: calc(100% - 50px);
}
.search {
  height: 50px;
  width: 100%;
  border: none;
  background-color: #f4f7f6;
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #888888;
  padding-left: 20px;
}
.search:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}
.button_search {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}
.button_search:hover {
  background-color: #323232;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*subscription*/
.title_subscript {
  margin-bottom: 23px;
  text-align: center;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.title_subscript:after {
  content: "";
  border: 2px solid #b59f5b;
  width: 63px;
  display: block;
  margin: 9px auto 22px;
  opacity: 0.4;
}
.email {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #f4f7f6;
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #888888;
  padding-left: 20px;
}
.email:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}
.button_subscript {
  margin-top: 13px;
  height: 50px;
  width: 100%;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.button_subscript:hover {
  background-color: #323232;
}
/*teg*/
.teg {
  margin: 56px 0px;
}
.title_teg {
  text-align: center;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.title_teg:after {
  content: "";
  border: 2px solid #b59f5b;
  width: 63px;
  display: block;
  margin: 10px auto 26px;
  opacity: 0.4;
}
.teg_list {
  padding: 0;
}
.teg_items_link {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  padding: 0px 13px;
  height: 30px;
}
.teg_items_link:hover {
  font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  outline: 3px solid #b59f5b;
}
.teg_items {
  display: inline-block;
  border: 3px solid #eeeeee;
}
.teg_items:nth-child(n + 4) {
  margin-top: 12px;
}
/*topic*/
.topic_title {
  margin-bottom: 17px;
  text-align: center;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}
.topic_title:after {
  content: "";
  border: 2px solid #b59f5b;
  width: 63px;
  display: block;
  margin: 15px auto 0px;
  opacity: 0.4;
}
.topic_list {
  padding: 0px;
}
.topic_items_link {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #000000;
}
.topic_items:after {
  content: "";
  border: 1px solid #eeeeee;
  width: 272px;
  display: block;
  margin: 12px 15px 9px 0px;
}
.topic_items_link:hover {
  color: #b59f5b;
}
.superscript {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}
.products {
	margin: 64px 0px;
}
.title_products {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}
.title_products:after {
	content: "";
  border: 2px solid #b59f5b;
  width: 67px;
  display: block;
  margin: 14px auto 29px;
  opacity: 0.4;
}
.container_products {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
}
.product {
	display: flex;
	flex-direction: column;
	width: 33.33%;
}
.product:nth-child(n+2) {
	margin-left: 134px;
}
.picture_product {
	margin-bottom: 25px;
	display: block;
	background-color: #eff6f1;
	width: 100%;
}
.content_product {
	outline: 2px solid #b59f5b;
	outline-offset: 24px;
	margin-top: -30px;
	padding-top: 25px;
	flex-grow: 1;
}
.title_product {
	font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.description_product {
	font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.4;
}
.link_video_product {
	color: #b59f5b;
}
.link_video_product:hover {
	text-decoration: underline;
}
.container_price_button {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}
.price {
	font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  color: #0f0d0e;
}
.price_old {
	font-size: 14px;
	text-decoration: line-through;
}
.price_new {
	font-size: 20px;
}
.button_product {
  height: 50px;
  padding: 15px 26px;
  background-color: #b59f5b;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.button_product:hover {
  background-color: #323232;
}

/*footer*/
.footer {
  margin-bottom: 74px;
  padding: 33px 0px;
  background-color: #f4f7f6;
}
.footer_list_social {
  text-align: center;
  padding: 0;
}
.footer_items_social {
  display: inline-block;
}
.footer_items_social:nth-child(n + 2) {
  margin-left: 58px;
}
.icon_dribbble {
  width: 25px;
  height: 21px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon_pinterest {
  width: 25px;
  height: 21px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.icon_tumblr {
  width: 25px;
  height: 21px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
/*copyright*/
.copyright {
  text-align: center;
  margin-bottom: 40px;
}
.copyright_link {
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #999999;
}
/*popup*/
.visually-hidden-popup {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.popup {
	width: 100%;
	height: 100vh;
	background-color:#606260;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
}

.popup_container {
	position: relative;
	max-width: 390px;
	margin: auto;
	background-color: #ffffff;
	padding: 54px 30px;
}
.title_popup {
	font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}
.title_popup:after {
	content: "";
  border: 2px solid #b59f5b;
  width: 66px;
  display: block;
  margin: 14px auto 0px;
  opacity: 0.4;
}
.popup_question {
	padding-top: 30px;
	padding-bottom: 9px;
	font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #000000;
}
.visited {
	width: 100%;
	height: 50px;
	border: none;
	background-color: #f4f7f6;
	color: #939594;
	font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 13px center;
  padding-left: 18px;
}
.visited:focus {
	border-bottom: 1px solid #b59f5b;
}
.popup_button {
	height: 50px;
  width: 100%;
  margin-top: 27px;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans-Bold, OpenSans, Arial;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.popup_button:hover {
  background-color: #323232;
}
.popup_close {
	background-color: transparent;
  border: none;
  padding: 0;
  width: 18px;
  height: 18px;
  font-size: 20px;
  position: absolute;
  top: -24px;
  right: 0;

  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.popup_radio {
	font-size: 13px;
	width: 18px;
	height: 18px;
	background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: bottom;
}
.popup_radio:checked {
	background-image: url(../svg/form-circle.svg);
}
.popup_label_radio {
	margin-right: 16px;
}
.popup_textarea {
	min-height: 132px;
	width: 100%;
	background-color: #f4f7f6;
	color: #939594;
	resize: none;
	border: none;
	background-color: #f4f7f6;
	font-family: OpenSans-Regular, OpenSans, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  padding: 21px;
  outline: none;
}
.popup_textarea:focus {
	border-bottom: 1px solid #b59f5b;
}

/*burger menu*/
@media(max-width: 1199px) {
	.menu_header_list {
		display: none;
	}
	.burger_menu {
		display: block;
		border: none;
		height: 19px;
		background-color: transparent;
		position: absolute;
		right: 0;
		top: 37px;
		margin-right: 20px;
		cursor: pointer;
		padding: 0;
	}
	.burger_menu_span, .burger_menu::before, .burger_menu::after {
  	display: block;
  	width: 22px;;
		height: 3px;
		background-color: #ffffff;
  }
  .burger_menu::before {
  	content: "";
  	position: absolute;
  	top: 0;
  }
  .burger_menu::after {
  	content: "";
  	position: absolute;
  	bottom: 0;
  }
}

/*tablet*/
@media(min-width: 641px) and (max-width: 1199px) {
	/*header*/
	.header {
  	background-image: url("../images/banner-bg-tablet.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	background-color: #000000;
  	z-index: 0;
  	position: relative;
	}
	.welcom_title {
		width: 80%;
	}
	.title_header {
		font-size: 40px;
	}
	/*trends*/
	.container_trends {
		flex-wrap: wrap;
	}
	.post_trend {
		width: 49.8%;
		margin-bottom: 4px;
	}
	.post_trend:nth-child( n+2) {
		margin-left: 0px;
	}
	/*main*/
	.conteiner_content {
		padding: 0px 35px;
	}
	.page {
		margin-top: 50px;
	}
	.main {
		max-width: calc(100% - 300px);
	}
	.main_article {
		border-bottom: 3px #eeeeee solid;
		padding-bottom: 18px;
		display: block;
	}
	.main_article:last-child {
		border: none;
	}
	.main_article:nth-child(n+2) {
  	margin-top: 42px;
	}
	.post_content {
		width: 100%;
		margin-left: 0px;
		margin-top: 25px;
	}
	.main_menu {
		margin-bottom: 17px;
	}
	.title_article {
		margin-bottom: 37px;
	}
	.post_news {
  	padding-left: 0px;
  	margin-left: 20px;
	}
	.aside_section {
		flex-wrap: nowrap;
	}
	.container_products {
		flex-wrap: wrap;
	}
	.product {
		width: 42%;
		margin-bottom: 55px;
	}
	.product:nth-child(n+2) {
  	margin-left: 0px;
  }
}

/*mobile*/
@media(max-width: 640px) {
	.container_header {
		flex-wrap: nowrap;
		align-items: normal;
		padding: 25px 15px 42px 15px;
		justify-content: center;
	}
	.header {
  	background-image: url("../images/banner-mobile.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-size: cover;
  	background-color: #000000;
  	z-index: 0;
  	position: relative;
	}
	.logo_header {
  	width: 270px;
  	margin: 193px 0px 10px;
	}
	.welcom_title {
		width: 100%;
		padding: 0px 0px 248px 0px;
	}
	.title_header {
  	font-size: 26px;
  	max-width: 280px;
		margin: 0 auto;
  }
  .container_trends {
  	flex-wrap: wrap;
  }
  .post_trend {
  	width: 100%;
  	margin-bottom: 2px;
  }
  .trend_header {
  	width: 100%;
  }
  .post_trend:nth-child(n+2) {
  	margin-left: 0px;
  }
  .main_article {
  	justify-content: center;
  }
  .picture {
  	width: 100%;
  }
  .post_content {
  	width: 100%;
  	margin-left: 0px;
  }
  .main_article {
		border-bottom: 3px #eeeeee solid;
		padding-bottom: 18px;
	}
	.main_article:nth-child(n+2) {
  	margin-top: 34px;
}
  .main_menu {
  	margin-top: 9px;
  }
  .post_text {
  	margin-top: 25px;
  }
  .sidebar {
  	width: 100%;
		margin: 44px auto;
  }
  .aside_section {
  	flex-wrap: nowrap;
  }
  .topic_items::after {
  	width: 100%;
  }
  .container_products {
  	display: block;
  }
  .product {
  	width: 90%;
  	margin: 0px auto 55px;
  }
  .product:nth-child(n+2) {
  	margin-left: auto;
	}
}